body{
      font-family: "Poppins", sans-serif;
    }
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexxible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(orange, pink);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
.Dream-Big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}
.centre{
padding-right: 120px;
}
.expereance-item{
    width: 40%;
    margin-left:5% ;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px hsl(354, 100%, 4%);

}
.expereance-area{
    background-image: url(images/exp-bg.png);background-repeat: no-repeat;
    background-position: left;


}
#full-stack-developer{
    border-left: 7px solid #8747ff;
}
#baby-web-developer{
    border-left: 7px solid #97030a;
}
footer{
    text-align: center;
    background-color: bisque;
}